global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:9090
    default_backend http_back

backend http_back
    balance roundrobin
    server server1 host.docker.internal:3000 check
    server server2 host.docker.internal:3001 check
    server server3 host.docker.internal:3002 check
